<h1>Edit</h1>

<%= form_for @school_class do |school_class| %>

<label> Post school title: </label><br>
<%= school_class.text_field :title %><br>
 
<label> room number: </label><br>
<%= school_class.text_area :room_number %><br>

<%= school_class.submit %>

<%= button_to('Delete', school_class_path(@school_class), method: 'delete') %>

<% end %>